@model IEnumerable<Book>

@{
    ViewData["Title"] = "Kitap Listesi";
}

<h2>Kitap Listesi</h2>

<table class="table">

    <thead>
        <tr>
            <th>Kitap Adı</th>
            <th>Kitap Yazarı</th>
        </tr>
    </thead>
    aasdasd

    <tbody>
            
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
            </tr>
            
        }

    </tbody>

</table>

<a asp-action="Create" class="btn btn-primary">Yeni Kitap Ekle</a>